body {
  background-color: white;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px
}

h1 {
  font-family: 'Dosis', sans-serif;
}

h2 {
  font-family: 'Dosis', sans-serif;

}

h3 {
  font-family: 'Dosis', sans-serif;
}

h4 {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
}

h5 {
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
}

.headpic {
  padding-top: 30px;
  padding-bottom: 60px;
}

.contactform {padding: 5%;
  align-content: center;
}



.carocrops {
  padding: 0 7%;
}
