.navbar {
  background-color: white;
color: black;
position: relative;
padding-bottom: 12px;
}

.dropdown-toggle::after {
  display: none;
}

.navbar .dropdown:hover .dropdown-menu {
  display: block;
}