p {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px
}

.navbar-brand {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  padding-left: 15%;
}


.nav-item {
  padding: 0 15px;
}

.nav-link {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  text-align: center;
  color: black;
}

.dropdown-item {
  font-family: 'Quicksand', sans-serif;

}

.dropdown-item.active, .dropdown-item:active {
  color: black;
  background-color:  #95989d
}

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-nav {
  padding-right: 15%;
}

.contactform {padding: 5%;
  align-content: center;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}